/* site fonts */
$primary-font: Roboto, Arial, Verdana, sans-serif;

/* site colors */
$light-gray: #F6F8FA;
$medium-gray: #EDEFF5;
$dark-gray: #98A6BB;
$charcoal: #344355;
$electric-blue: #46A8F6;

/* media queries */
$query-medium: only screen and (min-width: 870px);
$query-large: only screen and (min-width: 1600px);

/* accessibility styles */

/* content read only for screen reader / invisible */
.screen-reader-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Providing a consistent focus style per WCAG 2.1 - Level AA 2.4.7 */

@mixin focus-style {
  box-shadow: 0 0 0 1px #FFFFFF;
  outline: 2px solid #B68C3E;
  outline-offset: 2px;
}

a,
button,
input,
select,
textarea,
.focusable {
  &:focus {
    @include focus-style;
  }
}
